<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoobsTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FF9C5A41E2B815A00608747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FF9C5B81E2B815B00608747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FF9C5C31E2B815B00608747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
